<script src="{{ url_for('static', filename='includes/jquery/js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='includes/jquery/js/jquery.datatables.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='includes/datatables/css/dataTables.bootstrap.css') }}">
<script src="{{ url_for('static', filename='includes/datatables/js/dataTables.bootstrap.js') }}"></script>


<link rel="stylesheet" href="{{ url_for('static', filename='includes/bootstrap-3.3.7/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='includes/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='includes/visjs/js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='includes/datatables/js/datetime.moment.js') }}"></script>

<script src="{{ url_for('static', filename='javascript/helpers.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/datatable.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='themes/default/default.css') }}">



<script src="/plugin/playbook/includes/plotly-1.2.0.min.js"></script>

<html>
    <head>
        
    </head>
    <body class="theme-panelContainer">
        <p>Playbook: {{name}}</p>
        <div id="pie" style=""></div>
        <br/>
        <table id="orderTable" class="table table-sm theme-table" cellspacing="0" width="100%">
            <thead class="theme-tableHeader">
            </thead>
            <tbody class="theme-tableBody">
            </tbody>
        </table>
    </body>
</html>

<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD-MMM-YY HH:mm:ss');
        var tableData = {{ content|tojson }}
        $('#orderTable').DataTable({
            "stripeClasses" : [ 'theme-tableRowOdd', 'theme-tableRowEven' ],
            "paging" : true,
            "order" : [[ 0, "desc" ]],
            "autoWidth": false,
            columns : [
                { "data": "_id", "name": "_id", "title": "_id", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "name", "name": "name", "title": "name", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "sequence", "name": "sequence", "title": "sequence", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "version", "name": "version", "title": "version", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "occurrence", "name": "occurrence", "title": "occurrence", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "startTime", "name": "startTime", "title": "startTime", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "endTime", "name": "endTime", "title": "endTime", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "attempt", "name": "attempt", "title": "attempt", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "result", "name": "result", "title": "result", "width": "50px", render: $.fn.dataTable.render.text() },
                { "data": "resultData", "name": "resultData", "title": "resultData", "width": "50px", render: $.fn.dataTable.render.text() },
                { "title" : "options", "width": "50px", "data": "options", render: function (data, type, row) {
                        $button = '<button class="btn btn-primary theme-panelButton clearPlay" id="'+data+'">Delete</button>';
                        return $button;
                    } 
                },
            ],
            columnDefs: [{
                orderable: true
            }]
        });
        $('.dataTables_length').addClass('bs-select');
        $('.dataTables_filter input[type="search"]').css({'width':'200px'});
        $('.dataTables_filter input[type="search"]').addClass("theme-panelTextbox")
        var table = $('#orderTable').DataTable();
        for (content in tableData) {
            systemID = ""
            if (tableData[content].hasOwnProperty("systemID")) {
                systemID = tableData[content]["systemID"]
            }
            table.row.add({ "_id" : tableData[content]["_id"], "name" : tableData[content]["name"], "sequence" : tableData[content]["sequence"], "version" : tableData[content]["version"], "occurrence" : tableData[content]["occurrence"], "startTime" : tableData[content]["startTime"], "endTime" : tableData[content]["endTime"], "attempt" : tableData[content]["attempt"], "result" : tableData[content]["result"], "resultData" :  JSON.stringify(tableData[content]["resultData"]), "options" : tableData[content]["_id"] })
        }
        table.draw();
    });

    $('#orderTable').on('click', '.clearPlay', function(e){
        var row = $(this).closest('tr')
        $.ajax({url:$(this).attr('id')+"/clear/", type:"GET", success: function ( result ) {
            row.remove()
            }
        })
        $(this).closest('tr').remove()
    })

    function pie(data,HTMLElementID) {
        values = []
        labels = []
        for (key in data) {
            values.push(data[key])
            labels.push(key)
        }
        var data = [{
            type: "pie",
            values: values,
            labels: labels,
            textinfo: "label",
            textposition: "none",
            automargin: false
        }]

        var layout = {
            showlegend: true,
            plot_bgcolor: "#222222",
            paper_bgcolor: "#222222",
            font: {
                color : "#ddd"
            },
            height: 180,
            margin: {
                l: 1,
                r: 1,
                b: 1,
                t: 1,
                pad: 4
            },
        }

        Plotly.newPlot(HTMLElementID, data, layout, {staticPlot: true})
    }
    var pieData = {{ pie|tojson }}
    pie(pieData,"pie");
</script>