<script src="{{ url_for('static', filename='includes/jquery/js/jquery-3.4.1.js') }}"></script>
<script src="{{ url_for('static', filename='includes/jquery/js/jquery.datatables.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='includes/datatables/css/dataTables.bootstrap.css') }}">
<script src="{{ url_for('static', filename='includes/datatables/js/dataTables.bootstrap.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='includes/datatables/css/fixedHeader.dataTables.min.css') }}">
<script src="{{ url_for('static', filename='includes/datatables/js/dataTables.fixedHeader.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='includes/bootstrap-3.3.7/css/bootstrap.min.css') }}">
<script src="{{ url_for('static', filename='includes/bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='includes/visjs/js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='includes/datatables/js/datetime.moment.js') }}"></script>

<script src="{{ url_for('static', filename='javascript/helpers.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/datatable.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='themes/default/default.css') }}">

<html>
    <head>
        
    </head>
    <body class="theme-panelContainer">
        <table id="orderTable" class="table table-sm theme-table" cellspacing="0" width="100%">
            <thead class="theme-tableHeader">
                <tr>
                    <th class="th-sm">_id</th>
                    <th class="th-sm">name</th>
                    <th class="th-sm">Sequence</th>
                    <th class="th-sm">version</th>
                    <th class="th-sm">occurrence</th>
                    <th class="th-sm">startTime</th>
                    <th class="th-sm">endTime</th>
                    <th class="th-sm">attempt</th>
                    <th class="th-sm">result</th>
                    <th class="th-sm">resultData</th>
                    <th class="th-sm">history</th>
                </tr>
            </thead>
            <tbody class="theme-tableBody">
                {% for play in plays %}
                    <tr>
                        <td>{{ play['_id'] }}</td>
                        <td>{{ play['name'] }}</td>
                        <td>{{ play['sequence'] }}</td>
                        <td>{{ play['version'] }}</td>
                        <td>{{ play['occurrence'] }}</td>
                        <td>{{ play['startTime'] }}</td>
                        <td>{{ play['endTime'] }}</td>
                        <td>{{ play['attempt'] }}</td>
                        <td>{{ play['result'] }}</td>
                        <td>{{ play['resultData'] }}</td>
                        <td>{{ play['history'] }}</td>
                        <td><button class="btn btn-primary theme-panelButton clearPlay" id="{{ play['_id'] }}">Delete</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>


<script>
    $(document).ready(function () {
        $('#orderTable').DataTable({
            "stripeClasses" : [ 'theme-tableRowOdd', 'theme-tableRowEven' ],
            fixedHeader: {
                header: true,
                footer: true
            },
            "paging" : false
        });
        $('.dataTables_length').addClass('bs-select');
        $('.dataTables_filter input[type="search"]').css({'width':'200px'});
        $('.dataTables_filter input[type="search"]').addClass("theme-panelTextbox")
    });

    $('#orderTable').on('click', '.clearPlay', function(e){
        var row = $(this).closest('tr')
        $.ajax({url:$(this).attr('id')+"/clear/", type:"GET", success: function ( result ) {
            row.remove()
            }
        })
        $(this).closest('tr').remove()
    })
</script>