{% extends "main.html" %}

{% block head %}
    {{ jimi.jquery() }}
    {{ jimi.tables() }}
    <script src="/plugin/playbook/includes/plotly-1.2.0.min.js"></script>
{% endblock %}

{% block main %}
    <p>Playbook: {{name}}</p>
    <div id="pie" style=""></div>
    <br/>
    {{ jimi.table("1","Results","playbookResultsTable/") }}
    <script>
        $('#table_1').on('click', '.clearPlay', function(e){
            var row = $(this).closest('tr')
            $.ajax({url:$(this).attr('id')+"/clear/", type:"GET", success: function ( result ) {
                    row.remove()
                }
            })
            $(this).closest('tr').remove()
        })

        function pie(data,HTMLElementID) {
            values = []
            labels = []
            for (key in data) {
                values.push(data[key])
                labels.push(key)
            }
            var data = [{
                type: "pie",
                values: values,
                labels: labels,
                textinfo: "label",
                textposition: "none",
                automargin: false
            }]

            var layout = {
                showlegend: true,
                plot_bgcolor: "#222222",
                paper_bgcolor: "#222222",
                font: {
                    color : "#ddd"
                },
                height: 180,
                margin: {
                    l: 1,
                    r: 1,
                    b: 1,
                    t: 1,
                    pad: 4
                },
            }

            Plotly.newPlot(HTMLElementID, data, layout, {staticPlot: true})
        }
        var pieData = {{ pie|tojson }}
        pie(pieData,"pie");
    </script>
{% endblock %}